/* .sliderLayoutContainer {
	justify-content: center;
	max-width: 80vw;
} */
.imageElement {
  width: auto !important;
}
.sliderLayoutContainer--carousel {
  background-color: #fff;
  max-width: 1440px;
  padding: 32px 0 16px;
  margin: auto;
}
.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}
.sliderArrows {
  background-color: #ccced8 !important;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: var(--default-transition);
}
.sliderArrows:hover {
  opacity: 1;
}
.slide--lastVisible,
.slide--firstVisible {
  border-left: none;
  border-right: none;
}
/*wishlist*/
.slideChildrenContainer--shelf-wishlist-slider-main {
  border-right: 1px solid #f1efed;
}
.slideChildrenContainer--shelf-wishlist-slider-main
  :global(.vtex-product-summary-2-x-containerNormal) {
  max-width: 200px !important;
}
/*image slider*/
.sliderTrackContainer--carousel {
  max-width: 1440px;
  position: relative;
}
.imageElement--carousel-departament {
  max-width: 991px;
}
.slide--not-found-shelf {
  max-width: 224px;
}
.sliderLayoutContainer--not-found-shelf {
  padding: 0 10px !important;
}
.caretIcon--not-found-shelf {
  width: 12px;
  height: 12px;
}
/*breackpoint of container*/
@media only screen and (max-width: 1285px) {
  .sliderLayoutContainer--carousel {
    max-width: 1160px;
  }
}
@media only screen and (max-width: 1232px) {
  .sliderLayoutContainer--carousel {
    max-width: 1084px;
  }
}
@media only screen and (max-width: 1149px) {
  .sliderLayoutContainer--carousel {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 1067px) {
  .sliderLayoutContainer--carousel {
    max-width: 920px;
  }
}
/*breackpoint of container end*/

@media (max-width: 1024px) {
  .sliderLayoutContainer--carousel {
    padding: 10px 10px;
  }

  .caretIcon--deals {
    color: #f71963;
    height: 16px;
  }

  .sliderLayoutContainer--shelf {
    padding: 0 !important;
  }
}

@media (max-width: 1440px) and (min-width: 1026px) {
  .slide--not-found-shelf {
    max-width: 180px;
  }
  .sliderLayoutContainer--not-found-shelf {
    padding: 0 10px !important;
  }
}
